server:
  port: 8080
  servlet:
    context-path: /

spring:
  servlet:
    multipart:
      enabled: true
      max-file-size: 10000MB
      max-request-size: 10000MB
  devtools:
    restart:
      enabled: false
  main:
    banner-mode: off

mvc:
  enabled: true
  static-path: classpath:/static/
  index: index.html

freemarker:
  enabled: true
  cache: true
  update-delay: 0
  template-path: classpath:/templates/
  prefix:
  suffix: .ftl

jdbc:
  enabled: true
  driver-class: com.mysql.cj.jdbc.Driver
  druid:
    enabled: true
    context-path: /druid/*
    username: admin
    password: admin
  db1:
    enabled: true
    base-packages: aaa
    url: jdbc:mysql://www.xwsos.com:3306/test?useUnicode=true&characterEncoding=utf-8
    username: mhw
    password: 456321
  db2:
    enabled: true
    base-packages: com.matrix.demo.controller
    url: jdbc:mysql://www.xwsos.com:3306/mhw?useUnicode=true&characterEncoding=utf-8
    username: mhw
    password: 456321
